---
layout: default
hide_element: btn-learn-more
year: CGVC2021
title: CGVC 2021
---

<h3>Welcome to the 39th Computer Graphics & Visual Computing Conference!</h3>
<!-- <h3>To join the Conference please follow the link: <a
        href="https://us02web.zoom.us/j/86421229860?pwd=STdYMTZvaXBSS0JnSC9PNy9RKzlTdz09"> CGVC2021 Zoom Link </a> </h3> -->

<!-- <h5> Conference Proceedings are available online at <a href="https://diglib.eg.org/"> EG Digital Library </a> in
    "Eurographics Local Chapter Events". <br />
    Direct handle: <a href="https://diglib.eg.org/handle/10.2312/2632929"> CGVC 2021 Proceedings </a>. <br />
    Access is granted to anyone during the conference.<br />
    After the conference, access will be granted to Eurographics members only. </h5> -->

{% include host.html year='CGVC2021' %}

<hr>

{% include important_dates.html year='CGVC2021' %}

<hr>

{% include_relative _cfp_src.html year='CGVC2021' %}
