---
layout: default
title: CGVC 2021 Programme
---

<a id="programme"></a>

<h2>TBA</h2>

<!-- 
<h5> CGVC 2021 Conference Proceedings are available online at <a href="https://diglib.eg.org/handle/10.2312/2632929"> EG
        Digital Library</a>.</h5>

{% for session in site.data.CGVC2021.programme %}
{% if session.date %}
<h3>{{session.date}}</h3>
{% endif %}
{% if session.name %}
<h4>{{session.name}}</h4>
{% if session.chair %}
<h6 class="text-muted">Session chair: <a href="{{session.chair.url}}">{{session.chair.name}},
        {{session.chair.affiliation}}</a></h6>
{% endif %}
{% endif %}
<table class="mb-3">
    {% for paper in session.papers %}
    <tr>
        <td>{{paper.start}}</td>
        <td>&ndash;</td>
        <td>{{paper.end}}</td>
        <td class="p-2">
            {% if paper.author %}
            <h5>{{paper.name}} {% if paper.link %} - <a href="{{paper.link}}">Abstract</a> {% endif %}<br>
                <small class="text-muted">
                    by {{paper.author}}
                </small>
            </h5>
            {% elsif paper.authors%}
            <p>
                {% if paper.award%}
                <span class="badge badge-danger">{{paper.award}}</span><br>
                {% endif %}
                <b>{{paper.name}}</b><br>
                <em class="text-muted">
                    by {{paper.authors}}
                </em>
            </p>
            {% else %}
            <h5 class="text-muted"><i>{{paper.name}}</i></h5>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %} -->