---
layout: default
year: CGVC2020
title: Best Paper Awards
---

<a id="award"></a>

<table class="mb-3">
    {% for session in site.data.CGVC2020.programme %}
    {% for paper in session.papers %}
    {% if paper.award%}
    <tr>
        <td class="p-2">
            <p>
            <h4><span class="badge badge-danger">{{paper.award}}</span></h4><br>
            <img class="mw-100" src="{{site.baseurl}}/assets/img/CGVC2020/award/{{paper.img}}">
            <b>{{paper.name}}</b><br>
            <em class="text-muted">
                by {{paper.authors}}
            </em>
            </p>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>