---
layout: default
title: CGVC 2020 Important Dates
---

{% for item in site.data.y2020.important_dates %}
<h4>{{ item.title }}</h4>
<table class="cgvc-cfp-dates">
    <tr>
        {% if item.extend %}
        <td><s>{{ item.date }}</s></td>
        <td class="td-extend"><b>{{ item.extend }} </b></td>
        {% else %}
        <td><b>{{ item.date }} </b></td>
        <td></td>
        {% endif %}
        {% if item.description %}
        <td>- {{ item.description }}</td>
        {% endif %}
    </tr>
</table>
{% endfor %}