---
layout: default
custom_css: cfp_sidebar
title: CGVC 2020
---

<h3>Welcome to 38th Computer Graphics & Visual Computing Conference</h3>

<p>CGVC 2020 will be held in <strong>King's College London, UK</strong>.</p>

<p>To register for CGVC, see the <a href="registration">CGVC
        registration page</a>.
</p>

<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    CGVC 2020.</p>


<a class="page-anchor" id="program"></a>
<h3>Program</h3>

<table class="program">

    <tbody>
        <tr>
            <td>09:00</td>
            <td>&ndash;</td>
            <td>09:15 am</td>
            <td>
                <h4>
                    Opening Remarks <a href="https://goo.gl/nF1Cme" style="border: none;"><i
                            class="fas fa-external-link"></i></a><br />
                    <small>Remarks by General Chairs: Robert Gove, Dustin Arendt
                    </small>
                </h4>
            </td>
        </tr>

        <tr>
            <td>09:15</td>
            <td>&ndash;</td>
            <td>10:10 am</td>
            <td>
                <h4>
                    Keynote Address<br />
                </h4>

                <p>
                    <strong>Visualization in an Autonomic World: Establishing Trust, Maintaining Control, and Imparting
                        Resilience</strong> by <strong>Dr. Chris Oehmen</strong>,
                    <em class="text-muted">Pacific Northwest National Laboratory, WA, USA</em>
                </p>

                <p>Please see <a href="#keynote">below</a> for the full abstract and bio.</p>
            </td>
        </tr>

        <tr>
            <td>10:10</td>
            <td>&ndash;</td>
            <td>10:30 am</td>
            <td>
                <h4>
                    Best Paper<br />
                    <small>Presented By Marco Angelini</small>
                </h4>

                <p>Security in Process: Visually Supported Triage Analysis in Industrial Process Data
                    <em class="text-muted">
                        by Anna-Pia Lohfink, Simon D Duque Anton, Hans Dieter Schotten, Heike Leitte, Christoph
                        Garth</em>
                    <span class="label label-info"><i class="fa fa-trophy"></i> Best Paper</span>
                </p>
            </td>
        </tr>

        <tr class="text-muted">
            <td>10:30</td>
            <td>&ndash;</td>
            <td>10:50 am</td>
            <td><em>Coffee Break</em>
            </td>
        </tr>

        <tr>
            <td>10:50 am</td>
            <td>&ndash;</td>
            <td>12:20 pm</td>
            <td>
                <h4>
                    Paper Session: Cyberattack Analysis & Mitigation<br />
                    <small>Moderated by Sophie Engle</small>
                </h4>

                <p>A Visual Analytics Framework for Adversarial Text Generation
                    <em class="text-muted">
                        by Brandon Laughlin, Christopher Collins, Karthik Sankaranarayanan, Khalil El-Khatib
                    </em>
                </p>

                <p>Image-based Malware Classification: A Space Filling Curve Approach
                    <em class="text-muted">
                        by Stephen O’Shaughnessy
                    </em>
                </p>

                <p>SymNav: Visually Assisting Symbolic Execution
                    <em class="text-muted">
                        by Marco Angelini, Graziano Blasilli, Luca Borzacchiello, Emilio Coppa, Daniele Cono D'Elia,
                        Camil
                        Demetrescu, Simone Lenti, Simone Nicchi, Giuseppe Santucci
                    </em>
                </p>

                <p>A Study on Labeling Network Hostile Behavior with Intelligent Interactive Tools
                    <em class="text-muted">
                        by Jorge Luis Guerra, Eduardo Veas, Carlos Adrian Catania
                    </em>
                </p>

                <p>NetCapVis: Web-based Progressive Visual Analytics for Network Packet Captures
                    <em class="text-muted">
                        by Alex Ulmer, David Sessler, Jörn Kohlhammer
                    </em>
                </p>

                <p>PunyVis: A Visual Analytics Approach for Identifying Homograph Phishing Attacks
                    <em class="text-muted">
                        by Brett Fouss, Dennis Ross, Allan Wollaber, Steven R Gomez
                    </em>
                </p>
            </td>
        </tr>

        <tr class="text-muted">
            <td>12:20</td>
            <td>&ndash;</td>
            <td>14:20 pm</td>
            <td><em>Lunch Break</em>
            </td>
        </tr>


        <tr>
            <td>14:20</td>
            <td>&ndash;</td>
            <td>14:50 pm</td>
            <td>
                <h4>
                    Paper Session: Privacy & Training<br />
                    <small>Moderated by Chris Bryan</small>
                </h4>

                <p>Guess Me If You Can: A Visual Uncertainty Model for Transparent Evaluation of Disclosure Risks in
                    Privacy-Preserving Data Visualization
                    <em class="text-muted">by Aritra Dasgupta, Robert Kosara, Min Chen</em>
                    <br />
                </p>

                <p>Visual Feedback for Players of Multi-Level Capture the Flag Games: Field Usability Study
                    <em class="text-muted">by Radek Ošlejšek, Vit Rusnak, Karolina Burska, Valdemar Švábenský, Jan
                        Vykopal
                    </em>
                </p>
            </td>
        </tr>

        <tr>
            <td>14:50</td>
            <td>&ndash;</td>
            <td>15:15 pm</td>
            <td>
                <h4>
                    Paper Session: Short Papers<br />
                    <small>Moderated by Jörn Kohlhammer</small>
                </h4>
                <p>An Exploration of Cyber Symbology
                    <em class="text-muted">by Margaret Varga, Carsten Winkelholz, Susan Träber-Burdin</em>
                </p>

                <p>Explainable Visualization of Collaborative Vandal Behaviors in Wikipedia
                    <em class="text-muted">
                        by Siva Sandeep Subramanian, Pushparaj Prakash Parab, Zerong Liu, Aidong Lu
                    </em>
                </p>

            </td>
        </tr>

        <tr>
            <td>15:15</td>
            <td>&ndash;</td>
            <td>15:25 pm</td>
            <td>
                <h4>Poster Fast Forward<br />
                    <small>Moderated by Sean McKenna</small>
                </h4>
            </td>
        </tr>

        <tr>
            <td>15:25</td>
            <td>&ndash;</td>
            <td>15:50 pm</td>
            <td>
                <h4>Best Presentation Award, Closing<br />
                    <small>Moderated by Robert Gove</small>
                </h4>
            </td>
        </tr>

        <tr class="text-muted">
            <td>15:50</td>
            <td>&ndash;</td>
            <td>16:10 pm</td>
            <td>
                <h4>Coffee Break</h4>
            </td>
        </tr>

</table>

<a class="page-anchor" id="keynote"></a>
<h3>Keynote</h3>

<img class="pull-right img-thumbnail" src="/assets/img/keynote-2019-Oehmen.jpg" alt="Dr Chris Oehmen"
    style="margin-left: 6px; margin-bottom: 2px;">

<h4 class="media-heading">
    Dr. Chris Oehmen<br />
    <small>Pacific Northwest National Laboratory<br />
        WA, USA
    </small>
</h4>

<h5>Visualization in an Autonomic World: Establishing Trust, Maintaining Control, and Imparting Resilience</h5>

<p>The increasingly time-sensitive requirements that bind logical and physical realms is driving an ecosystem of users,
    software, hardware, and physical systems towards a world where autonomic control is the norm, not the exception. For
    example, some critical infrastructure components must react to threats and hazards on the time scale of milliseconds
    but are managed and operated by human practitioners who operate at a seconds-to-hours time scale. From this
    perspective, hierarchical control that imparts some degree of autonomy on subsystems is therefore essential for
    operating in the presence of non-innumerable adversarial and natural hazards. But as systems make more of their own
    decisions, humans have an increasing need for visualization for 1) transparency into autonomous subsystem
    decision-making; 2) sensing and control; and 3) reasoning over possible future states of the system. Transparency is
    essential for building trust in autonomous decision making. Understanding current system state is a prerequisite for
    efficient operation. The ability to reason over possible future states provides a basis for prioritizing proactive
    and reactive actions to drive overall system survivability and resilience. As long as humans remain in (or on) these
    decision loops, there will be a need to visualize complex and dynamic state information—reflecting the system’s
    past, present, and future. As these systems grow in complexity, interconnectedness, and autonomy, new paradigms of
    visualization will be essential for safe and efficient operation and control.
</p>

<a class="page-anchor" id="submissions"></a>

<h3>Submission Instructions</h3>

<p>We welcome both full paper and extended abstract submissions to CGVC2019.</p>

<h4>1. Formatting your paper</h4>
<p>When formatting your initial submission use the preliminary <a href="Documents/egPublStyle-CGVC2019.zip">2019 LaTeX2e
        file</a>. The file contains the document class, style files, sample LaTeX2e source, a corresponding PDF output
    file and the copyright assignment form for submissions accepted for publication.</p>
<p>Prepare your submission as a PDF file. You can also include material in other media such as applets and video. Note
    however that the camera-ready paper that is to appear in the proceedings must be PDF only. Please make sure that any
    images embedded in your paper do not contain transparent pixels (that is, an alpha channel of a transparent color)
    because this will lead to problems when the resulting PDF is displayed.</p>
<p>We ask you to follow the standard layout for EGUK publications. Please read the following information found in the
    LaTeX2e zip file: <a href="Documents/EGauthorGuidelines-CGVC2019-sub.pdf">EGauthorGuidelines-CGVC2019-sub.pdf</a>
</p>

<h4>2. Submit your paper for review</h4>
<p>
    There are three submission streams:
</p>
<p>
    <b>Short Papers - </b>a short paper of up to 4 pages, demonstrating research, implementations and/or product
    development. Short papers will be presented at the conference site as 15 minute presentations, during a dedicated
    short paper session.
</p>
<p>
    <b>Extended abstracts - </b> At most 2 pages, with 1 additional page allowed for references only. An extended
    abstract can describe work in progress, interim results, industrial work, or research presented more fully
    elsewhere. Extended abstracts will be refereed by a panel drawn from the EGUK programme committee. Authors of
    accepted abstracts will be expected to give a poster presentation at the conference.
</p>
<p>
    <b>Full papers -</b> a paper of 4 to 8 pages + one page of only references, describing completed research. Papers
    will be refereed by members of the EGUK programme committee. Authors of accepted papers will be expected to give a
    20 minute presentation at the conference.
</p>
<p>
    For further information see the <a href="cfp.html">call for contributions</a>
</p>
<p>
    Submit your paper via the <a href="https://srmv2.eg.org/COMFy/Conference/CGVC_2019" target="new">EuroGraphics
        submission system.</a>
</p>

<h4>3. If your paper is accepted</h4>
<p>
    Authors of papers approved for publication should read the reviewers comments, update and correct their paper from
    the reviewers comments, and submit a final version (a camera ready copy) to the conference management tool.
</p>
<p>
    Final papers must be formatted with an updated 2019 template: <a href="Documents/egPublStyle-CGVC2019.zip">2019
        LaTeX2e template</a>.
</p>
<p>
    Make sure your paper is formatted using the correct (2019) template, which makes correct reference to this year's
    editors.
</p>

<h4>4. Copyright form</h4>
<p>
    Authors of papers approved for publication will be required to complete and return this <a
        href="Documents/ELF-EG-CGVC2019.pdf">Eurographics copyright assignment form</a>. Authors are requested to
    complete the form and to upload a scanned-in copy directly to the submission system.
</p>

<h3>5. Register for the conference</h3>
<!--<p>Don't forget to <a href="registration.html">regi




<h3>Important Dates</h3>

{% for item in site.data.y2020.important_dates %}
<h4>{{ item.title }}</h4>
<table class="vizsec-cfp-dates">
    <tr>
        {% if item.extend %}
        <td><s>{{ item.date }}</s></td>
        <td><b>{{ item.extend }}: </b></td>
        {% else %}
        <td><b>{{ item.date }}: </b></td>
        <td></td>
        {% endif %}
        {% if item.description %}
        <td>{{ item.description }}</td>
        {% endif %}
    </tr>
</table>
{% endfor %}


<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2020.organizing_committee %}
    <li>
        <span class="committee name">
            {% if member.url %}
            <a href="{{ member.url }}">{{ member.name }}</a>,
            {% else %}
            {{ member.name }}
            {% endif %}
        </span>
        <span class="committee role">, {{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<h4>Programme Committee</h4>

<ul>
    {% for member in site.data.y2020.programme_committee %}
    <li>
        <span class="committee name">
            {% if member.url %}
            <a href="{{ member.url }}">{{ member.name }}</a>,
            {% else %}
            {{ member.name }}
            {% endif %}
        </span>
        {% if member.url %}
        <span class="committee role">, {{ member.role }}</span>
        {% endif %}
        <br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<a class="page-anchor" id="supporters"></a>
<div>
    <h3>Supporters</h3>

    <ul class="media-list">
        {% for supporter in site.data.y2020.supporters %}
        <li class="media">
            <a href="{{ supporter.link }}">
                <img class="media-object" src="{{ supporter.image }}" title="{{ supporter.title }}">
            </a>
            {% if supporter.job %}
            <label>Open Position: <a href="{{ supporter.job_url }}">{{ supporter.job }}</a></label>
            {% endif %}


        </li>
        {% endfor %}
    </ul>
</div>