---
layout: default
custom_css: cfp_sidebar
title: CGVC 2020
---

<h4>Welcome to the 38th Computer Graphics & Visual Computing Conference!</h4>

<p>CGVC 2020 will be held in <strong>King's College London, UK</strong>.</p>

<p>To register for CGVC, see the <a href="registration" role="button">CGVC
        registration page</a>.
</p>

<p><em>Questions?</em> Please email <a href="mailto:chair@cgvc.org.uk">chair@cgvc.org.uk</a> for questions regarding
    CGVC 2020.</p>


<a class="page-anchor" id="program"></a>
<h3>Program</h3>

TBA

<br><br><br><br><br>

<!-- 
<table class="program">

    <tbody>
        <tr>
            <td>09:00</td>
            <td>&ndash;</td>
            <td>09:15 am</td>
            <td>
                <h4>
                    Opening Remarks <a href="https://goo.gl/nF1Cme" style="border: none;"><i
                            class="fas fa-external-link"></i></a><br />
                    <small>Remarks by General Chairs: Robert Gove, Dustin Arendt
                    </small>
                </h4>
            </td>
        </tr>

        <tr>
            <td>09:15</td>
            <td>&ndash;</td>
            <td>10:10 am</td>
            <td>
                <h4>
                    Keynote Address<br />
                </h4>

                <p>
                    <strong>Visualization in an Autonomic World: Establishing Trust, Maintaining Control, and Imparting
                        Resilience</strong> by <strong>Dr. Chris Oehmen</strong>,
                    <em class="text-muted">Pacific Northwest National Laboratory, WA, USA</em>
                </p>

                <p>Please see <a href="#keynote">below</a> for the full abstract and bio.</p>
            </td>
        </tr>

        <tr>
            <td>10:10</td>
            <td>&ndash;</td>
            <td>10:30 am</td>
            <td>
                <h4>
                    Best Paper<br />
                    <small>Presented By Marco Angelini</small>
                </h4>

                <p>Security in Process: Visually Supported Triage Analysis in Industrial Process Data
                    <em class="text-muted">
                        by Anna-Pia Lohfink, Simon D Duque Anton, Hans Dieter Schotten, Heike Leitte, Christoph
                        Garth</em>
                    <span class="label label-info"><i class="fa fa-trophy"></i> Best Paper</span>
                </p>
            </td>
        </tr>

        <tr class="text-muted">
            <td>10:30</td>
            <td>&ndash;</td>
            <td>10:50 am</td>
            <td><em>Coffee Break</em>
            </td>
        </tr>

        <tr>
            <td>10:50 am</td>
            <td>&ndash;</td>
            <td>12:20 pm</td>
            <td>
                <h4>
                    Paper Session: Cyberattack Analysis & Mitigation<br />
                    <small>Moderated by Sophie Engle</small>
                </h4>

                <p>A Visual Analytics Framework for Adversarial Text Generation
                    <em class="text-muted">
                        by Brandon Laughlin, Christopher Collins, Karthik Sankaranarayanan, Khalil El-Khatib
                    </em>
                </p>

                <p>Image-based Malware Classification: A Space Filling Curve Approach
                    <em class="text-muted">
                        by Stephen O’Shaughnessy
                    </em>
                </p>

                <p>SymNav: Visually Assisting Symbolic Execution
                    <em class="text-muted">
                        by Marco Angelini, Graziano Blasilli, Luca Borzacchiello, Emilio Coppa, Daniele Cono D'Elia,
                        Camil
                        Demetrescu, Simone Lenti, Simone Nicchi, Giuseppe Santucci
                    </em>
                </p>

                <p>A Study on Labeling Network Hostile Behavior with Intelligent Interactive Tools
                    <em class="text-muted">
                        by Jorge Luis Guerra, Eduardo Veas, Carlos Adrian Catania
                    </em>
                </p>

                <p>NetCapVis: Web-based Progressive Visual Analytics for Network Packet Captures
                    <em class="text-muted">
                        by Alex Ulmer, David Sessler, Jörn Kohlhammer
                    </em>
                </p>

                <p>PunyVis: A Visual Analytics Approach for Identifying Homograph Phishing Attacks
                    <em class="text-muted">
                        by Brett Fouss, Dennis Ross, Allan Wollaber, Steven R Gomez
                    </em>
                </p>
            </td>
        </tr>

        <tr class="text-muted">
            <td>12:20</td>
            <td>&ndash;</td>
            <td>14:20 pm</td>
            <td><em>Lunch Break</em>
            </td>
        </tr>


        <tr>
            <td>14:20</td>
            <td>&ndash;</td>
            <td>14:50 pm</td>
            <td>
                <h4>
                    Paper Session: Privacy & Training<br />
                    <small>Moderated by Chris Bryan</small>
                </h4>

                <p>Guess Me If You Can: A Visual Uncertainty Model for Transparent Evaluation of Disclosure Risks in
                    Privacy-Preserving Data Visualization
                    <em class="text-muted">by Aritra Dasgupta, Robert Kosara, Min Chen</em>
                    <br />
                </p>

                <p>Visual Feedback for Players of Multi-Level Capture the Flag Games: Field Usability Study
                    <em class="text-muted">by Radek Ošlejšek, Vit Rusnak, Karolina Burska, Valdemar Švábenský, Jan
                        Vykopal
                    </em>
                </p>
            </td>
        </tr>

        <tr>
            <td>14:50</td>
            <td>&ndash;</td>
            <td>15:15 pm</td>
            <td>
                <h4>
                    Paper Session: Short Papers<br />
                    <small>Moderated by Jörn Kohlhammer</small>
                </h4>
                <p>An Exploration of Cyber Symbology
                    <em class="text-muted">by Margaret Varga, Carsten Winkelholz, Susan Träber-Burdin</em>
                </p>

                <p>Explainable Visualization of Collaborative Vandal Behaviors in Wikipedia
                    <em class="text-muted">
                        by Siva Sandeep Subramanian, Pushparaj Prakash Parab, Zerong Liu, Aidong Lu
                    </em>
                </p>

            </td>
        </tr>

        <tr>
            <td>15:15</td>
            <td>&ndash;</td>
            <td>15:25 pm</td>
            <td>
                <h4>Poster Fast Forward<br />
                    <small>Moderated by Sean McKenna</small>
                </h4>
            </td>
        </tr>

        <tr>
            <td>15:25</td>
            <td>&ndash;</td>
            <td>15:50 pm</td>
            <td>
                <h4>Best Presentation Award, Closing<br />
                    <small>Moderated by Robert Gove</small>
                </h4>
            </td>
        </tr>

        <tr class="text-muted">
            <td>15:50</td>
            <td>&ndash;</td>
            <td>16:10 pm</td>
            <td>
                <h4>Coffee Break</h4>
            </td>
        </tr>

</table> -->

<a class="page-anchor" id="keynote"></a>
<h3>Keynote</h3>

TBA

<br><br><br><br><br>

<!-- <img class="pull-right img-thumbnail" src="/assets/img/keynote-2019-Oehmen.jpg" alt="Dr Chris Oehmen"
    style="margin-left: 6px; margin-bottom: 2px;">

<h4 class="media-heading">
    Dr. Chris Oehmen<br />
    <small>Pacific Northwest National Laboratory<br />
        WA, USA
    </small>
</h4>

<h5>Visualization in an Autonomic World: Establishing Trust, Maintaining Control, and Imparting Resilience</h5>

<p>The increasingly time-sensitive requirements that bind logical and physical realms is driving an ecosystem of users
</p> -->
<!-- 
<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.CGVC2020.organizing_committee %}
    <li class="list">
        <span class="committee name">
            {% if member.url %}
            <a href="{{ member.url }}">{{ member.name }}</a>
            {% else %}
            {{ member.name }}
            {% endif %}
        </span>
        {% if member.role %}
        <span class="committee role">, {{ member.role }}</span>
        {% endif %}
        <br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<h4>Programme Committee (Tentative)</h4>

<ul>
    {% for member in site.data.CGVC2020.programme_committee %}
    <li class="list">
        <span class="committee name">
            {{ member.name }},
        </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul> -->