---
layout: default
hide_element: btn-learn-more
title: CGVC 2020
---

<h3>Welcome to the 38th Computer Graphics & Visual Computing Conference!</h3>
<br/>
<h3>To join the Conference please follow the link: <a href="https://us02web.zoom.us/j/86421229860?pwd=STdYMTZvaXBSS0JnSC9PNy9RKzlTdz09"> CGVC2020 Zoom Link </a> </h3>

{% include host.html year='CGVC2020' %}

<hr>

{% include important_dates.html year='CGVC2020' %}

<hr>
<h3>Call for Papers</h3>
<p>
    We seek contributions in the form of full papers, short papers, viewpoint papers and extended abstracts (posters).
    Optional single-blind or double-blind - reviewers’ identities are not revealed. Authors may choose whether to
    anonymize their submission or not.
</p>
<hr>
<h4>Full Papers</h4>
<p>
    A paper of up to 8 pages describing completed research, plus 1 page of references only. Papers are refereed, by
    members of the EGUK programme committee. Authors of accepted papers are expected to give a 20-minute presentation at
    the conference. Accepted papers will appear in the Eurographics digital library and will serve as full paper
    publications
</p>
<hr>
<h4>Short Papers</h4>
<p>
    The purpose of short papers is to present late-breaking results, work-in -progress, and follow-up extensions or
    evaluations of existing methods. Short papers will be peer-reviewed in a one-stage process by an international
    programme
    committee. They will be electronically archived and are fully citable publications. Submissions for the short paper
    track should be at most 4 pages, with an additional page allowed for references. Accepted short papers will be
    presented orally at the conference in (approximately) 12-15 minute presentations.
</p>
<hr>
<h4>Viewpoint Papers</h4>
<p>
    CGVC also features a viewpoint paper track (also known as position paper) which
    enables researchers a new possibility to publish their ideas. Viewpoints articles offer detailed technical opinions
    on
    trends in visual computing or reports on how visual computing has contributed to the comprehension of data or
    phenomena. We encourage discussions of challenges or limitations in today's methods and areas of potential new
    topics
    of research. We are also interested in application discussions that focus on the physical, life or social sciences,
    engineering, or commerce, for example, or related to the process of visual computing in general. We encourage an
    emphasis on lessons learned from practical experience for application discussions, particularly where visual
    computing
    has been employed in a real, working environment. Viewpoint papers are submitted with author names and affiliations.
    Accepted viewpoint papers will be electronically archived, are fully citable publications and will be presented
    orally
    at the conference in (approximately) 12-15 minute presentations.
</p>
<hr>
<h4>Extended Abstracts / Posters</h4>
<p>
    The purpose of this track is to present late-breaking results, work
    in progress, and follow-up extensions or evaluations of existing methods. In particular, it provides young
    researchers, especially postgraduate students, with valuable opportunities to receive feedback from other
    researchers,
    and engage in stimulating discussions. The poster track will be managed by the co-chair team and the International
    Programme Committee (IPC). We solicit poster submissions in the form of an extended abstract of at most 2 pages
    (with
    an
    additional page allowed for references only).
    Posters will be peer-reviewed in a one-stage process. Accepted posters, size A1 recommended, will be presented at
    the
    poster viewing session of the conference.
</p>

<p>
    In addition to directly submitted posters, some submissions to the full, short and viewpoint paper tracks, that are
    not accepted for publication but are deemed suitable, will be offered an opportunity to be presented as posters.
    Such
    submissions will not require an additional review process.
</p>

<p>
    Traditionally, the materials in a poster/sketch can be reused later by the original authors for a more extensive
    publication (e.g., a full paper) with more detailed content and mature results. This should not be considered as
    self-plagiarism. However, as posters/sketches are citable, researchers are encouraged to acknowledge novel ideas and
    results presented in posters/sketches. A poster may describe a piece of work in any aspect of visual computing. For
    posters, we particularly encourage a summary report of collaborative projects, work-in-progress, and application
    case
    studies.
</p>

<p>
    Accepted abstracts do not appear in the Eurographics digital library. An extended abstract and industrial project
    abstract are not be considered as a paper publication, instead being similar to a SIGGRAPH one‐page sketch or to a
    conference poster without an associated paper. As such, presenting an extended abstract at this conference has no
    effect on your ability to publish a fuller version of the same work in another venue.
</p>

<p>
    Topics include, but are not limited to:
</p>

<table>
    <tr>
        <td>
            <ul>
                <li>Computer Graphics</li>
                <li>Visualization</li>
                <li>Computer Vision</li>
                <li>Virtual Reality</li>
                <li>Visual Analytics</li>
                <li>Visual Data Science</li>
                <li>Computer Animation</li>
                <li>Computer-based Arts and Entertainment</li>
                <li>Image processing</li>
                <li>Acquisition and Reconstruction Techniques</li>
                <li>Graphics Architectures and Acceleration Hardware</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Medical Imaging</li>
                <li>Multimedia Visualisation</li>
                <li>Computer Games</li>
                <li>Rendering Techniques</li>
                <li>Scientific Visualisation and Big Data</li>
                <li>Information Visualization and Visual Analytics</li>
                <li>Geospatial Visualisation</li>
                <li>Augmented Reality and Collaborative Environments</li>
                <li>Mobile Apps and Interactive Devices</li>
                <li>Human Computer Interaction, Robotics, and Haptics</li>
                <li>Modelling Methods</li>
            </ul>
        </td>
    </tr>
</table>
