---
layout: default
title: CGVC 2020
---

<a id="programme"></a>
<h2>Programme</h2>
{% for session in site.data.CGVC2020.programme %}
{% if session.date %}
<h3>{{session.date}}</h3>
{% endif %}
{% if session.name %}
<h4>{{session.name}}</h4>
{% endif %}
<table class="mb-3">
    {% for paper in session.papers %}
    <tr>
        <td>{{paper.start}}</td>
        <td>&ndash;</td>
        <td>{{paper.end}}</td>
        <td class="p-2">
            {% if paper.author %}
            <h5>{{paper.name}}<br>
                <small class="text-muted">
                    by {{paper.author}}
                </small>
            </h5>
            {% elsif paper.authors%}
            <p> <b>{{paper.name}}</b><br>
                <em class="text-muted">
                    by {{paper.authors}}
                </em>
            </p>
            {% else %}
            <h5 class="text-muted"><i>{{paper.name}}</i></h5>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

<!-- <a id="keynote"></a>
<h3>Keynote</h3> -->