---
layout: default
title: CGVC 2020 Programme
---

<a id="programme"></a>
<h3>To join the Conference please follow the link: <a href="https://us02web.zoom.us/j/86421229860?pwd=STdYMTZvaXBSS0JnSC9PNy9RKzlTdz09"> CGVC2020 Zoom Link </a> </h3>

<h2>Programme</h2>

<h5> Conference Proceedings are available online at <a href="https://diglib.eg.org/"> EG Digital Library </a> in "Eurographics Local Chapter Events". <br/>
Direct handle: <a href="https://diglib.eg.org/handle/10.2312/2632929"> CGVC 2020 Proceedings </a>. <br/>
Access is granted to anyone during the conference.<br/>
After the conference, access will be granted to Eurographics members only. </h5>

{% for session in site.data.CGVC2020.programme %}
{% if session.date %}
<h3>{{session.date}}</h3>
{% endif %}
{% if session.name %}
<h4>{{session.name}}</h4>
{% if session.chair %}
<h6 class="text-muted">Session chair: <a href="{{session.chair.url}}">{{session.chair.name}},
        {{session.chair.affiliation}}</a></h6>
{% endif %}
{% endif %}
<table class="mb-3">
    {% for paper in session.papers %}
    <tr>
        <td>{{paper.start}}</td>
        <td>&ndash;</td>
        <td>{{paper.end}}</td>
        <td class="p-2">
            {% if paper.author %}
            <h5>{{paper.name}} {% if paper.link %} - <a href="{{paper.link}}">Abstract</a> {% endif %}<br>
                <small class="text-muted">
                    by {{paper.author}}
                </small>
            </h5>
            {% elsif paper.authors%}
            <p> <b>{{paper.name}}</b><br>
                <em class="text-muted">
                    by {{paper.authors}}
                </em>
            </p>
            {% else %}
            <h5 class="text-muted"><i>{{paper.name}}</i></h5>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
