<div class="alert py-3">
	<div class="container">
		<div class="row">
			<h5><i class="fas fa-bullhorn" aria-hidden="true"></i> Due to the Coronavirus pandemic, the physical
				CGVC2020 conference has had to be converted to a virtual
				forum which will use the Zoom platform. Conference Registration is FREE for attendees but to be able to
				participate
				you must register!
				Once your registration is complete you will be sent a Zoom link to access the virtual Conference
				Sessions.
			</h5>
		</div>
	</div>
</div>