<h3>Important Dates</h3>
<table class="cgvc-cfp-dates">
	{% for item in site.data.CGVC2020.important_dates %}
	<tr>
		<td>{{ item.title }}:</td>
		{% if item.extend %}
		<td class="td-extend"> <s>{{ item.date }}</s> <b>{{ item.extend }} </b></td>
		{% else %}
		<td><b>{{ item.date }} </b></td>
		{% endif %}
		<td></td>
		{% if item.description %}
		<td>{{ item.description }}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<!-- <a class="btn btn-primary btn-block" href="https://srmv2.eg.org/COMFy/Conference/CGVC_2020" role="button"
	target="_blank">Start Submission </a> -->
<a class="btn btn-secondary btn-block disabled" href="https://srmv2.eg.org/COMFy/Conference/CGVC_2020" role="button"
	target="_blank" aria-disabled="true">Submission Closed</a>