<div class="navbar-underlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="hidden-xs hidden-sm pull-right"><a href="http://www.eg.org/"><img class="brand-logo"
				src="/assets/img/branding_eg.png" alt="Eurographics Logo" /></a><a href="http://eguk.bangor.ac.uk/"><img
				class="brand-logo" src="/assets/img/branding_eguk.gif" alt="EGUK Logo" /></a></div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/assets/img/branding_cgvc.svg" alt="CGVC Logo" /></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hidden="true"><i
							class="fas fa-home" aria-hidden="true"></i>
						Home
						<i class="caret"></i> <i class="nav-sep fas fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/">
								<i class="fas fa-fw fa-home" aria-hidden="true"></i> Homepage
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/about">
								<i class="fas fa-fw fa-info-circle" aria-hidden="true"></i> About
							</a>
						</li>
						<li>
							<a href="/past">
								<i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Past Years
							</a>
						</li>
						<li>
							<a href="/CGVC2020/committee">
								<i class="fas fa-fw fa-users" aria-hidden="true"></i> Committee
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/sponsors">
								<i class="fas fa-fw fa-university" aria-hidden="true"></i> Sponsors
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-fw fa-images" aria-hidden="true"></i> Gallery
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/CGVC2020/registration#contact">
								<i class="fas fa-fw fa-comments" aria-hidden="true"></i> Contact
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hidden="true"><i
							class="fas fa-feather-alt" aria-hidden="true"></i>
						For Authors
						<i class="caret"></i> <i class="nav-sep fas fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/CGVC2020/cfp"><i class="fas fa-fw fa-file-alt" aria-hidden="true"></i> Call for
								Papers
							</a>
						</li>
						<li>
							<a href="/CGVC2020/dates"><i class="fas fa-fw fa-calendar-check" aria-hidden="true"></i>
								Important Dates
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/CGVC2020/submission">
								<i class="fas fa-fw fa-book" aria-hidden="true"></i> Submission Guidelines
							</a>
						</li>
						<li>
							<a href="/CGVC2020/reviewer">
								<i class="fas fa-fw fa-user-check" aria-hidden="true"></i> Review Guidelines
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hidden="true"><i
							class="fas fa-suitcase" aria-hidden="true"></i> For Attendees
						<i class="caret"></i> <i class="nav-sep fas fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/CGVC2020/program">
								<i class="fas fa-fw fa-list-ul" aria-hidden="true"></i> Program
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="/CGVC2020/registration"><i class="fas fa-fw fa-file-signature"
									aria-hidden="true"></i>
								Registration
							</a>
						</li>
						<li>
							<a href="/CGVC2020/registration#venue"><i class="fas fa-fw fa-hotel" aria-hidden="true"></i>
								Venue
							</a>
						</li>
						<li>
							<a href="/CGVC2020/registration#accommodation">
								<i class="fas fa-fw fa-bed" aria-hidden="true"></i> Accommodation
							</a>
						</li>
						<li>
							<a href="/CGVC2020/registration#travel">
								<i class="fas fa-fw fa-plane-departure" aria-hidden="true"></i> Travel
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#">
								<i class="fas fa-fw fa-microphone-alt" aria-hidden="true"></i> Invited Talks
							</a>
						</li>
						<li>
							<a href="/CGVC2020/presenter">
								<i class="fas fa-fw fa-file-powerpoint" aria-hidden="true"></i> Presenter Guidelines
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#">
								<i class="fas fa-fw fa-wine-glass-alt" aria-hidden="true"></i> Social Events
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>