<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<img src="/assets/img/branding_cgvc.svg" alt="CGVC Logo" />
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					Home
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/">
						<i class="fas fa-fw fa-home" aria-hidden="true"></i> Homepage
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/about">
						<i class="fas fa-fw fa-info-circle" aria-hidden="true"></i> About
					</a>
					<a class="dropdown-item" href="/past">
						<i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Past Years
					</a>
					<a class="dropdown-item" href="/CGVC2020/committee">
						<i class="fas fa-fw fa-users" aria-hidden="true"></i> Committee
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/CGVC2020/registration#contact">
						<i class="fas fa-fw fa-comments" aria-hidden="true"></i> Contact
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-user-edit" aria-hidden="true"></i>For Authors
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/CGVC2020/cfp"><i class="fas fa-fw fa-file-alt"
							aria-hidden="true"></i> Call for
						Papers
					</a>
					<a class="dropdown-item" href="/CGVC2020/dates"><i class="fas fa-fw fa-calendar-check"
							aria-hidden="true"></i> Important Dates
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/CGVC2020/submission">
						<i class="fas fa-fw fa-book" aria-hidden="true"></i> Submission Guidelines
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/CGVC2020/reviewer">
						<i class="fas fa-fw fa-user-check" aria-hidden="true"></i> Review Guidelines
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-suitcase" aria-hidden="true"></i> For Attendees
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/CGVC2020/program">
						<i class="fas fa-fw fa-list-ul" aria-hidden="true"></i> Program
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/CGVC2020/registration"><i class="fas fa-fw fa-file-signature"
							aria-hidden="true"></i> Registration
					</a>
					<a class="dropdown-item" href="/CGVC2020/registration#venue"><i class="fas fa-fw fa-hotel"
							aria-hidden="true"></i> Venue
					</a>
					<a class="dropdown-item" href="/CGVC2020/registration#accommodation">
						<i class="fas fa-fw fa-bed" aria-hidden="true"></i> Accommodation
					</a>
					<a class="dropdown-item" href="/CGVC2020/registration#travel">
						<i class="fas fa-fw fa-plane-departure" aria-hidden="true"></i> Travel
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">
						<i class="fas fa-fw fa-microphone-alt" aria-hidden="true"></i> Invited Talks
					</a>
					<a class="dropdown-item" href="/CGVC2020/presenter">
						<i class="fas fa-fw fa-file-powerpoint" aria-hidden="true"></i> Presenter Guidelines
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">
						<i class="fas fa-fw fa-wine-glass-alt" aria-hidden="true"></i> Social Events
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-feather-alt" aria-hidden="true"></i> For Sponsors
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/sponsors">
						<i class="fas fa-fw fa-users" aria-hidden="true"></i> Current Sponsors
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/sponsors/call-for-sponsors">
						<i class="fas fa-fw fa-bullhorn" aria-hidden="true"></i> Call for Sponsors
					</a>
				</div>
			</li>
		</ul>
		<div class="my-2 my-lg-0">
			<a href="http://www.eg.org/" target="_blank" rel="noopener">
				<img class="brand-logo" src="/assets/img/branding_eg.png" alt="Eurographics Logo">
			</a>
			<a href="http://eguk.bangor.ac.uk/" target="_blank" rel="noopener">
				<img class="brand-logo" src="/assets/img/branding_eguk.gif" alt="EGUK Logo">
			</a>
		</div>
	</div>
</nav>

{% include alert.html %}