<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<img src="/assets/img/CGVC logo/navbar.svg" alt="CGVC Logo" />
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto mt-2">
			<li class="nav-item">
				<a class="nav-link" href="/{{include.year}}"><i class="fas fa-fw fa-home" aria-hidden="true"></i>
					Homepage <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-fw fa-info-circle" aria-hidden="true"></i> About
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/about">About CGVC
					</a>
					<a class="dropdown-item" href="/past">Past Years
					</a>
					<a class="dropdown-item" href="/{{include.year}}/committee">Committee
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#contact">Contact
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-user-edit" aria-hidden="true"></i> 
						For Authors
					</a>
					<div class="dropdown-menu">
					
					</a>
						<a>
							<a class="dropdown-item" href="/{{include.year}}/dates">Important Dates
						</a>
						<a>
							<a class="dropdown-item" href="/{{include.year}}/cfp">Call for Papers
						</a>
						<a>
							<a class="dropdown-item" href="/{{include.year}}/submission">Submission Guidelines 
						</a>
					</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-suitcase" aria-hidden="true"></i> For Attendees
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/{{include.year}}/registration">Registration
					</a>

					<!-- only include the page if there is one -->
					{% capture file_path %}/{{include.year}}/venue-accommodation.html{% endcapture %}

					{% assign page = site.pages | where: "url", file_path | first %}
					{% if page %}
					
					</a>

					{% endif %}
			
					<a class="dropdown-item" href="/{{include.year}}/venue">
						Venue

						
					<a class="dropdown-item" href="/{{include.year}}/travel">
						Travel

						
					<a class="dropdown-item" href="/{{include.year}}/accomodation">
						Accomodation
						
					
					<a class="dropdown-item" href="/{{include.year}}/programme">
						Programme
					</a>
					<a class="dropdown-item" href="/{{include.year}}/keynote">
						Keynote
					</a>


					<!-- only include the talk link if there is one -->
					{% capture talk_path %}/{{include.year}}/talk.html{% endcapture %}

					{% assign page = site.pages | where: "url", talk_path | first %}
					{% if page %}
					<a class="dropdown-item" href="/{{include.year}}/talk">
						Invited Talks
					</a>
					{% endif %}

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/{{include.year}}/award">
						Best Paper Awards
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/{{include.year}}/presenter">
						Presenter Guidelines
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/{{include.year}}/social-events">
						Social Events
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-feather-alt" aria-hidden="true"></i> For Sponsors
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/{{include.year}}/sponsor/current-sponsor">
						Current Sponsors
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/{{include.year}}/sponsor/call-for-sponsors">
						Call for Sponsors
					</a>
				</div>
			</li>
		</ul>
		<div class="my-2 my-lg-0">
			<a href="http://www.eg.org/" rel="noopener">
				<img class="brand-logo" src="/assets/img/branding_eg.png" alt="Eurographics Logo">
			</a>
			<a href="http://eguk.bangor.ac.uk/" rel="noopener">
				<img class="brand-logo" src="/assets/img/branding_eguk.gif" alt="EGUK Logo">
			</a>
		</div>
	</div>
</nav>

{% include alert.html %}
