{% assign info = site.data[include.year].general_information %}

<div class="row">
	<div class="index-current-venue mx-3 py-3"
		style="background-image: url({{site.baseurl}}/assets/img/{{include.year}}/venue.jpg);">
		<div class="row mx-md-3 my-4">
			<span class="mx-auto col-6 col-md-3">
				<img src="{{site.baseurl}}/assets/img/{{include.year}}/{{info.logo}}" style="width:100%;">
			</span>

			<div class="mx-auto mt-3 mt-md-0 p-3 col-10 col-md-9 text">
				{{info.host_intro}}
			</div>
		</div>

		<div class="m-4 row">
			<div class="col-6 btn-learn-more">
				<a class="btn btn-primary btn-lg btn-block" href="/{{include.year}}" role="button">Learn more</a>
			</div>
			<div class="col-6 m-auto"> 
				{% if info.registration_started == true %} 
				<a class="disabled btn btn-info btn-lg btn-block" href="/{{include.year}}/registration" role="button">Registration</a> 
				{% else %} -->
				<a class="btn btn-secondary btn-lg btn-block disabled" href="/{{include.year}}/registration" role="button">Registration</a> 
				{% endif %} 
				<a class="disabled btn btn-info btn-lg btn-block" href="/{{include.year}}/registration"
					role="button">Registration</a>
			</div>
		</div>
	</div>
</div>

<hr>

<h4>Conference Committee</h4>

{% assign committee = info.committee %}

{% if committee.conference_chair %}
<ul class="mb-3">
	{% for chair in committee.conference_chair %}
	<li class="committee-list">
		<span class="committee name">
			{% if chair.url %}
			<a href="{{ chair.url }}">{{ chair.name }},</a>
			{% else %}
			{{ chair.name }},
			{% endif %}
		</span>
		<span class="committee role"> {{ chair.role }}</span>
		<span class="committee affiliation"> {{ chair.affiliation }}</span>
	</li>
	{% endfor %}
</ul>
{% endif %}

{% if committee.programme_chair %}
<ul>
	{% for chair in committee.programme_chair %}
	<li class="committee-list">
		<span class="committee name">
			{% if chair.url %}
			<a href="{{ chair.url }}">{{ chair.name }},</a>
			{% else %}
			{{ chair.name }},
			{% endif %}
		</span>
		<span class="committee role"> {{ chair.role }}</span>
		<span class="committee affiliation"> {{ chair.affiliation }}</span>
	</li>
	{% endfor %}
</ul>
{% endif %}
