{% assign info = site.data[include.year].general_information %}

<div class="row">
	<div class="index-current-venue mx-3 py-3" style="background-image: url(../assets/img/{{include.year}}/venue.jpg);">
		<div class="row mx-md-3 my-4">
			<span class="mx-auto col-6 col-md-3">
				<img src="../assets/img/{{include.year}}/{{info.logo}}">
			</span>

			<div class="mx-auto mt-3 mt-md-0 p-3 col-10 col-md-9 text">
				{{info.host_intro}}
			</div>
		</div>

		<div class="m-4 row">
			<div class="col-6 btn-learn-more">
				<a class="btn btn-primary btn-lg btn-block" href="/{{include.year}}" role="button">Learn more</a>
			</div>
			<div class="col-6 m-auto">
				<a class="btn btn-info btn-lg btn-block" href="/{{include.year}}/registration"
					role="button">Registration</a>
			</div>
		</div>
	</div>
</div>

<h4>Conference Committee</h4>

{% assign committee = info.committee %}

<h6>Conference Chairs</h6>
<ul class="mb-3">
	{% for chair in committee.conference_chair %}
	<li class="committee-list">
		<span class="committee name">
			{% if chair.url %}
			<a href="{{ chair.url }}">{{ chair.name }}</a>
			{% else %}
			{{ chair.name }}
			{% endif %}
		</span>
		<span class="committee role">, {{ chair.role }}</span>
		<span class="committee affiliation">, {{ chair.affiliation }}</span>
	</li>
	{% endfor %}
</ul>

<h6>Programme Chairs</h6>
<ul>
	{% for chair in committee.programme_chair %}
	<li class="committee-list">
		<span class="committee name">
			{% if chair.url %}
			<a href="{{ chair.url }}">{{ chair.name }}</a>
			{% else %}
			{{ chair.name }}
			{% endif %}
		</span>
		<span class="committee role">, {{ chair.role }}</span>
		<span class="committee affiliation">, {{ chair.affiliation }}</span>
	</li>
	{% endfor %}
</ul>