<div class="row">
	<div class="index-current-venue mx-3 py-3" style="background-image: url(../assets/img/{{include.year}}/venue.jpg);">
		<div class="row m-md-3 m-1">
			<span class="mx-auto col-6 col-md-3">
				<img src="../assets/img/{{include.year}}/logo.svg">
			</span>

			<div class="mx-auto mt-3 mt-md-0 col-10 col-md-9 text">
				CGVC 2020 will take place physically in <b>King's College London, UK</b>, but will be held virtually,
				during
				10-11 September 2020.
			</div>
		</div>

		<div class="m-4 row">
			<div class="col-6 btn-learn-more">
				<a class="btn btn-primary btn-block" href="/{{include.year}}" role="button">Learn more</a>
			</div>
			<div class="col-6 m-auto">
				<a class="btn btn-info btn-block" href="/{{include.year}}/registration" role="button">Registration</a>
			</div>
		</div>
	</div>
</div>