<!-- include.year is the variable passed, so this snippet knows where to find the right information -->

<!-- pass 'CGVC2020' as the 'year' variable will point to -->
<!-- _data/CGVC2020/important_dates.yml -->
<!-- for the date information -->

<h3>Important Dates</h3>

<!-- <h2>TBA</h2> -->

<table class="cgvc-cfp-dates mb-2">
	{% for item in site.data[include.year].important_dates %}
	<tr>
		<td>{{ item.title }}:</td>
		{% if item.extend %}
		<td class="td-extend"> <s>{{ item.date }}</s> <b>{{ item.extend }} </b></td>
		{% else %}
		<td><b>{{ item.date }} </b></td>
		{% endif %}
		<td></td>
		{% if item.description %}
		<td>{{ item.description }}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

{% assign info = site.data[include.year].general_information %}

{% if info.submission_started == true %}
{% if info.submission_closed == true %}
<a class="btn btn-secondary btn-block disabled" href="#" role="button" aria-disabled="true">Submission Closed</a>
{% else %}
<a class="btn btn-primary btn-block" href="{{info.submission_link}}" role="button">Start
	Submission </a>
{% endif %}
{% else %}
<a class="btn btn-secondary btn-block disabled" href="#" role="button" aria-disabled="true">Submission Opening Soon</a>
{% endif %}