{% assign info = site.data[include.year].general_information %}

{% if info.submission_started == true %}
{% if info.submission_closed == true %}
<a class="btn btn-secondary btn-block disabled" href="#" role="button" aria-disabled="true">Submission Closed</a>
{% else %}
<a class="btn btn-primary btn-block" href="{{info.submission_link}}" role="button">Start
	Submission </a>
{% endif %}
{% else %}
<a class="btn btn-secondary btn-block disabled" href="#" role="button" aria-disabled="true">
	{{ info.submission_link_text }}	
</a>
{% endif %}