<div class="container">
	<div class="row">
		<div class="col-md-8">

			{% if page.title %}<h2><img alt="CGVC Logo" src="/assets/img/branding_logo.svg"
					class="header-logo" />{{ page.title }}</h2>{% endif %}

			{{ content }}
		</div>
		<div class="col-md-4 sidebar">
			<div>
				  <!--
				<h4><i class="fas fa-bullhorn" aria-hidden="true"></i> CGVC News</h4>
				<div style="width:100%">
					<div id="fb-root"></div>
					<script async defer crossorigin="anonymous"
						src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=326832641570659&autoLogAppEvents=1"></script>
					<div class="fb-page"
						data-href="https://www.facebook.com/Computer-Graphics-Visual-Computing-CGVC-107227347520634/"
						data-tabs="timeline,events,messages" data-small-header="false" data-adapt-container-width="true"
						data-hide-cover="false" data-show-facepile="true">
						<blockquote
							cite="https://www.facebook.com/Computer-Graphics-Visual-Computing-CGVC-107227347520634/"
							class="fb-xfbml-parse-ignore"><a
								href="https://www.facebook.com/Computer-Graphics-Visual-Computing-CGVC-107227347520634/">Computer
								Graphics &amp; Visual Computing CGVC</a></blockquote>
					</div>
				</div>
				<!-- <ul>
					{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul> 
			</div>
			-->
			<div class="past_event">
				<h4><i class="fas fa-calendar-alt" aria-hidden="true"></i> Past CGVC Conferences</h4>
				<div>
					<dl class="row">
						{% assign pastyears = site.data.pastyears | slice:0, 20 %}
						{% for event in pastyears %}
						<dt class="col-2">
							<span class="badge badge-primary">{{ event.year }}</span>
						</dt>
						<dd class="col-10">
							<small>
								{% if event.website %}
								<a href="{{ event.website }}">{{ event.location }}</a>
								{% else %}
								{{ event.location }}
								{% endif %}
							</small>
						</dd>
						{% endfor %}
					</dl>
				</div>
				<a id="viewallevents" class="btn btn-success" href="/past">View all</a>
			</div>
		</div>
	</div>
</div>
