<div class="container">
	<div class="row">
		<div class="col-md-8">

			{% if page.title %}<h2><img alt="CGVC Logo" src="/assets/img/branding_logo.svg"
					class="header-logo" />{{ page.title }}</h2>{% endif %}

			{{ content }}
		</div>
		<div class="col-md-4 sidebar">
			<!-- <div>
				<a id="contact" class="page-anchor"></a>
				<h4><i class="fas fa-envelope" aria-hidden="true"></i> Get in Touch</h4>
				<p>
					Email <a href="mailto:chair@cgvc.org.uk">chair@cgvc.org.uk</a> for questions regarding the latest
					CGVC event. For general questions, email <a href="mailto:info@cgvc.org.uk">info@cgvc.org.uk</a>.
				</p>
			</div> -->
			<!--<div class="sidebar_dates hidden-sm hidden-xs">-->
			<!--<h4><i class="fas fa-calendar" aria-hidden="true"></i> Important Dates</h4>-->

			<!--{% for group in site.data.y2018-important_dates %}-->
			<!--<h5>{{ group.title }}</h5>-->
			<!--<table>-->
			<!--{% for item in group.dates %}-->
			<!--<tr>-->
			<!--<th>{{ item.date | date: "%b %-d" }}</th>-->
			<!--<td>{{ item.short }}</td>-->
			<!--</tr>-->
			<!--{% endfor %}-->
			<!--</table>-->
			<!--{% endfor %}-->

			<!--</div>-->
			<!--<div class="sidebar_supporters hidden-sm hidden-xs">-->
			<!--<h4><i class="fas fa-star" aria-hidden="true"></i> Supporters</h4>-->

			<!--{% for supporter in site.data.y2018-supporters %}-->
			<!--<p><a href="{{ supporter.link }}"><img src="{{ supporter.image }}" class="img-responsive"></a></p>-->
			<!--{% endfor %}-->
			<!--<br/>-->
			<!--</div>-->
			<div>
				<h4><i class="fas fa-bullhorn" aria-hidden="true"></i> CGVC News</h4>
				<div style="width:100%">
					<div id="fb-root"></div>
					<script async defer crossorigin="anonymous"
						src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=326832641570659&autoLogAppEvents=1"></script>
					<div class="fb-page"
						data-href="https://www.facebook.com/Computer-Graphics-Visual-Computing-CGVC-107227347520634/"
						data-tabs="timeline,events,messages" data-small-header="false" data-adapt-container-width="true"
						data-hide-cover="false" data-show-facepile="true">
						<blockquote
							cite="https://www.facebook.com/Computer-Graphics-Visual-Computing-CGVC-107227347520634/"
							class="fb-xfbml-parse-ignore"><a
								href="https://www.facebook.com/Computer-Graphics-Visual-Computing-CGVC-107227347520634/">Computer
								Graphics &amp; Visual Computing CGVC</a></blockquote>
					</div>
				</div>
				<!-- <ul>
					{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul> -->
			</div>
			<div class="sidebar_extraneous">
				<h4><i class="fas fa-calendar-alt" aria-hidden="true"></i> Past CGVC Conferences</h4>
				<div>
					<dl class="dl-horizontal-xs cgvc-event-sidebar-list">
						{% assign pastyears = site.data.pastyears | slice:0, 20 %}
						{% for event in pastyears %}
						<dt>
							<span class="label label-primary">{{ event.year }}</span>
						</dt>
						<dd><small>
								{% if event.website %}
								<a href="{{ event.website }}" target="_blank">{{ event.location }}</a>
								{% else %}
								{{ event.location }}
								{% endif %}
							</small></dd>
						{% endfor %}
					</dl>
				</div>
				<a id="viewallevents" class="btn btn-success btn-sm " href="/past">View all »</a>
			</div>
		</div>
	</div>
</div>