<div class="row">
	<div class="index-current-venue mx-3">
		<p class="p-3 m-3">
			CGVC 2020 take place physically in <b>King's College London, UK</b>, but will be held virtually, during
			10-11 September 2020.
		<div class="mx-4 row">
			<div class="col-6 btn-learn-more">
				<a class="btn btn-primary btn-block" href="/CGVC2020" role="button">Learn more</a>
			</div>
			<div class="col-6 m-auto">
				<a class="btn btn-info btn-block" href="/CGVC2020/registration" role="button">Registration</a>
			</div>
		</div>
		</p>
	</div>
</div>