/*
	cgvc base SASS styling
*/

@charset "UTF-8";

a {
  color: $cgvc_highlight;
  text-decoration: none;
  border-bottom: 0.0625rem dotted $cgvc_highlight;
}

// headers are all sans serif; body is serif
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.navbar-nav {
  font-family: $font-family-sans-serif;
}

h3 {
  width: 100%;
  font-size: 1.5rem;
  border-bottom: dotted 1px $cgvc_highlight;
}

h2,
h3 {
  margin: 1rem 0rem 1rem 0rem;
}

h4 {
  margin: 0.625rem 0rem 0.625rem 0rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tar {
  text-align: right;
}

.header-logo {
  height: 3.125rem;
  margin-bottom: 0.625rem;
}

.align-to-list {
  margin-left: 1.8em;
}

ul > li {
  &:before {
    content: "\BB  ";
    color: $cgvc_highlight;
  }
}

.footer {
  border-top: 0.4rem solid $cgvc_highlight;
  color: $cgvc_light;
  background-color: $cgvc_main;
  font-size: larger;

  img {
    height: 100%;
    width: 100%;
  }

  .block {
    border-right: 1px dashed #dc3521;
    border-right-width: 0.15rem;
    border-radius: 1rem;
  }

  h3 {
    font-size: 1.8rem;
    border: none;
  }

  * {
    font-family: $font-family-sans-serif;
    background-color: inherit;
    font-size: inherit;
  }
}

.page-content-default {
  padding-top: 1.25rem;
  min-height: 40rem;
  padding-bottom: 3.125rem;

  .watermark::after {
    content: "";
    background-image: url("../img/CGVC logo/vector/default.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.page-content {
  background: white;
}

.sidebar {
  margin-bottom: 1.25rem;
  div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.alert {
  color: $cgvc_main;
  background-color: $cgvc_light;
  margin: 0rem;
  border-bottom: 0.125rem solid $cgvc_highlight;
}

.navbar {
  border-bottom: 0.3rem solid $cgvc_highlight;
  color: $cgvc_main;
  a {
    border-bottom: none;
  }
  li:before {
    content: none;
  }
}

.dropdown-item {
  &:hover {
    background: $cgvc_highlight;
    color: white;
  }
}

.nav-link {
  font-size: 1.1rem;
  margin-right: 0.3rem;
  color: $cgvc_main !important;

  &:hover {
    color: $cgvc_highlight !important;
  }

  &::after {
    content: "\22EE";
    color: $cgvc_highlight;
    font-weight: 900;
  }

  i {
    padding-right: 0.1rem;
  }
}

.highlight {
  color: $cgvc_highlight;
}

.brand-logo {
  margin-left: 1rem;
  height: 2rem;
}

.navbar-brand > img {
  height: 3.5rem;
}

.committee {
  &.name,
  &.role {
    font-weight: bold;
  }

  &.affiliation {
    font-style: italic;
  }
}

table.cgvc-cfp-dates {
  margin-left: 0.5rem;
  .td-extend {
    padding-right: 0.625rem;
  }
  s {
    color: #9e9e9e;
  }
  tr td:first-child {
    padding-right: 0.125rem;
  }
}

table.sponsor-level {
  th,
  td:not(:first-child) {
    text-align: center;
  }

  tr:not(:first-child):hover {
    background-color: $cgvc_light;
  }

  td,
  th {
    padding: 0.125rem;
    border: 0.0625rem solid $cgvc_highlight;
  }

  th:not(:first-child) {
    background-color: $cgvc_light;
    text-align: center;
  }
}

.sponsor-row {
  border-top: 0.4rem solid $cgvc_highlight;
}

.steering-committee {
  padding-bottom: 1rem;
}

.index-current-venue {
  background-size: cover;
  height: 100%;
  font-size: 1.5rem;
  .text {
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }
}

.badge-full {
  background-color: rgb(7, 243, 66);
}

.badge-short {
  background-color: rgb(223, 219, 8);
}

.badge-poster {
  background-color: rgb(223, 7, 243);
  color: white;
}