---
layout: default
year: CGVC2026
title: Best Paper Awards
---


<a name="1"></a>
<b> Prof Rabin Ezra Scholarship Trust Prize for Best Student Practice Paper 2026 </b>
<figure class="figure">
    <img src="/assets/img/CGVC2026/aw_practice.jpg" class="figure-img img-fluid rounded"
        alt="Mennatallah">
    <figcaption class="figure-caption text-center">
    </figcaption>
</figure>

Maria Teresa Ortoleva - Holding Your Mind: Opportunities for Young People to Reflect on Their Minds through Personal EEG Data Art Sculptures

<br>
<br>

<a name="1"></a>
<b> BEST PAPER overall</b>
<figure class="figure">
    <img src="/assets/img/CGVC2026/aw_fuill.jpg" class="figure-img img-fluid rounded"
        alt="Mennatallah">
    <figcaption class="figure-caption text-center">
    </figcaption>
</figure>

Maria Teresa Ortoleva - Holding Your Mind: Opportunities for Young People to Reflect on Their Minds through Personal EEG Data Art Sculptures

<br>
<br>


<a name="1"></a>
<b> Rabin Ezra Scholarship Trust Prize for Best Student Theory Paper 2026</b>
<figure class="figure">
    <img src="/assets/img/CGVC2026/aw_theory.jpg" class="figure-img img-fluid rounded"
        alt="Mennatallah">
    <figcaption class="figure-caption text-center">
    </figcaption>
</figure>

Angeliki Grammatikaki - TreesFormer: Multimodal Grammar-Based 3D Tree Reconstruction from Sparse Geodata







<!--



<a id="award"></a>

<table class="mb-3">
    {% for session in site.data[page.year].programme %}
    {% for paper in session.items %}
    {% if paper.award%}
    <tr>
        <td class="p-2">
            <p>
            <h4><span class="badge badge-danger">{{paper.award}}</span></h4><br>
            {% if paper.img%}
            <img class="mw-100" src="{{site.baseurl}}/assets/img/CGVC2026/award/{{paper.img}}"><br>
            {% endif %}
            <b>{{paper.name}}</b><br>
            <em class="text-muted">
                by {{paper.authors}}
            </em>
            </p>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>

-->
