---
layout: default
year: CGVC2024
title: Call for Papers
---

<h1>{{page.title}}</h1>

<p>
  CGVC 2024, hosted by
  <a href="https://www.city.ac.uk/">City, University of London, UK</a>, is the
  42nd annual computer graphics, visualization, and visual computing conference
  organized by the Eurographics UK Chapter. The objective of Computer Graphics &
  Visual Computing (CGVC) is to foster greater exchange between visual computing
  researchers and practitioners, to welcome more researchers and industry
  partners in the UK, Europe, and beyond into this rapidly growing area of
  research.
  
  CGVC's scope encompasses all areas of visual computing (<a href="#topics">full list here</a>). Bringing together researchers and practitioners from complementary visual computing research areas, this conference promotes the visibility of technical and theoretical advances in the field to achieve real-world impact. 
</p>

<p>
  We welcome contributions in the form of full papers, short papers and posters. Submissions are optionally single- or
  double-blind: authors may choose whether to anonymize their submission or not.
  Reviewers' identities are not revealed.
</p>

{% include important_dates.html year=page.year %}

<h3>Full Papers</h3>
<p>
  A full paper submission is up to <b>8 pages</b> describing completed research, plus 1
  page of references. They will be peer-reviewed by the Programme Committee. Authors of accepted papers are expected to give a <b>20-minute</b>
  presentation at the conference. Accepted papers will appear in the
  Eurographics digital library and will serve as full paper publications.
</p>

<p>Some papers that are not accepted may be invited to present the work as a poster with no additional review process.</p>


<h3>Short Papers</h3>
<p>
  Short papers are for presenting late-breaking results, work-in
  -progress, and follow-up extensions or evaluations of existing methods. They will be peer-reviewed by the Programme Committee. Accepted papers will be electronically archived and are fully
  citable publications. Submissions for the short paper track should be at most
  <b>4 pages</b>, with an additional page allowed for references. Accepted short papers
  will be presented orally at the conference in (approximately) <b>12-15 minute</b>
  presentations.
</p>

<p>Some papers that are not accepted may be invited to present the work as a poster with no additional review process.</p>


<h3>Posters</h3>
<p>
  Posters are for presenting late-breaking results, work in
  progress, and follow-up extensions or evaluations of existing methods. In
  particular, it provides young researchers, especially postgraduate students,
  with valuable opportunities to receive feedback from other researchers, and
  engage in stimulating discussions. We solicit
  poster submissions in the form of an <b>extended abstract of at most 2 pages</b>
  (with an additional page allowed for references only). They will be peer-reviewed by the Programme Committee. If accepted, you would bring along your posters (A1 size recommended) to present at the poster viewing session.
</p>

<p>
  Traditionally, the materials in a poster/sketch can be reused later by the
  original authors for a more extensive publication (i.e., a full paper) with
  more detailed content and mature results. However, as posters/sketches are citable, researchers are
  encouraged to acknowledge novel ideas and results presented in
  posters/sketches. A poster may describe a piece of work in any aspect of
  visual computing. For posters, we particularly encourage a summary report of
  collaborative projects, work-in-progress, and application case studies.
</p>

<p>
  Accepted abstracts do not appear in the Eurographics digital library. An
  extended abstract and industrial project abstract are not considered as a
  paper publication, instead being similar to a SIGGRAPH one‐page sketch or to a
  conference poster without an associated paper. As such, presenting an extended
  abstract at this conference has no effect on your ability to publish a fuller
  version of the same work in another venue.
</p>


<p><a name="topics"></a>This year, we <b>particularly welcome</b> submissions on:</p>

<ul>
	<li>Geographical visualisation
	<li>Visual analytics
	<li>Visualisation for social good
</ul>

<p>We also <b>welcome topics including</b> (but are not limited to): 

<table>
  <tr>
    <td>
      <ul>
        <li>Computer Graphics</li>
        <li>Visualization</li>
        <li>Computer Vision</li>
        <li>Virtual Reality</li>
        <li>Visual Analytics</li>
        <li>Visual Data Science</li>
        <li>Computer Animation</li>
        <li>Computer-based Arts and Entertainment</li>
        <li>Image processing</li>
        <li>Acquisition and Reconstruction Techniques</li>
        <li>Graphics Architectures and Acceleration Hardware</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Medical Imaging</li>
        <li>Multimedia Visualisation</li>
        <li>Computer Games</li>
        <li>Rendering Techniques</li>
        <li>Scientific Visualisation and Big Data</li>
        <li>Information Visualization and Visual Analytics</li>
        <li>Geospatial Visualisation</li>
        <li>Augmented Reality and Collaborative Environments</li>
        <li>Mobile Apps and Interactive Devices</li>
        <li>Human Computer Interaction, Robotics, and Haptics</li>
        <li>Modelling Methods</li>
      </ul>
    </td>
  </tr>
</table>

<h3>Location</h3>

{% include host.html year=page.year %}
