---
layout: default
year: CGVC2024
title: Programme
---

<style>
ul li {
     text-indent: -0.75em; 
     margin: 0.33em 0.5em 0.5em 1.5em;
     list-style-type: none;
  }
.progImg {border:1px dashed #c0c0c0; padding:4px; float:right; margin-right:2em; margin-top:1em; margin-bottom:1em}
</style>

<a name="summary">
<div class="progImg" style="float:right;"><a href="documents/cgvc.schedule.240731.A4.png"><img width=150 src="documents/programme.png"/></a></div>

<h1> {{page.title}} </h1>

<!---p>On this page we have:</p--->
<ul>
	<li><a href="#papers">Programme-at-a-Glance</a> 👉</li>
	<li><a href="#detail">Detailed Programme</a></li>
	<li><a href="allPapers.html">List of all Accepted Papers and Posters</a></li>
</ul>
<div style="clear:both"></div>

<!---
<a name="papers">

<h2>Full papers</h2>

<h3>Visualisation Design and Evaluation Methods</h3>
<ul>
	<li>Multi-level visualization for exploration of structures in missing data <i>Sarah Alsufyani, Matthew Forshaw, Silvia Del Din, Alison Yarnall, Lynn Rochester, Sara Johansson Fernstad</i></li>
	<li>Interplay of Visual Analytics and Topic Modeling in Gameplay Analysis <i>Laleh Moussavi, Gennady Andrienko, Natalia Andrienko, Aidan Slingsby</i></li>
	<li>Does empirical evidence from healthy ageing studies predict a practical difference between visualizations for different age groups? <i>Shan Shao, Yiran Li, Andrew Meso, Nicolas Holliman</i></li>
	<li>Map Augmentation and Sketching for Cycling Experience Elicitation <i>Mirela Reljan-Delaney, Jo Wood, Alex Taylor</i></li>
	<li>Creating Data Art: Authentic Learning and Visualisation Exhibition <i>Jonathan Roberts</i></li>
</ul>

<h3>3D Rendering and Virtual Reality (VR)</h3>
<ul>
	<li>Assessing the Reliability of Integrated Gradients-Based Saliency Maps for 3D Point Cloud Semantic Segmentation Models <i>Jorge Ciprián Sánchez, Josafat-Mattias Burmeister, Tim Cech, Rico Richter, Jürgen Döllner</i></li>
	<li>Real-time Data-Oriented Virtual Forestry Simulation for Games <i>Benjamin Williams, Tom Oliver, Davin Ward, Chris Headleand</i></li>
	<li>Skipping Spheres: SDF Scaling & Early Ray Termination for Fast Sphere Tracing <i>Andreas Polychronakis, George Alex Koulieris, Katerina Mania</i></li>
	<li>DFT-Net: Dual-Window Frequency Transformer for Rhythmic Motion Prediction <i>David Sinclair, Adeyemi Ademola, Babis Koniaris, Samantha Hannah, Kenny Mitchell</i></li>
</ul>

<h3>Geographical</h3>
<ul>
	<li>Exploring Data Analysts' Uncertainty Reasoning Strategies for Effective Uncertainty Visualization Design <i>Christoph Kinkeldey, Mirela Reljan-Delaney, Georgia Panagiotidou, Jason Dykes</i></li>
	<li>Comparing distance metrics in space-time clustering to provide visual summaries of traffic congestion <i>Peter Baudains, Nicolas Holliman</i></li>
	<li>Reflections on the Evolution of the BookTracker Visualization Platform <i>Yiwen Xing, Cristina Dondi, Rita Borgo, Alfie Abdul-Rahman</i></li>
	<li>Min-Max Modifiable Nested Octrees M3NO: Indexing Point Clouds with Arbitrary Attributes in Real Time <i>Paul Hermann, Michel Krämer, Tobias Dorra, Arjan Kuijper</i></li>
</ul>

<h3>Machine Learning and LLM-enabled Visual Analytics</h3>
<ul>
	<li>Visual Interpretation of Tagging: Advancing Understanding in Task-Oriented Dialogue Systems <i>Yazhuo Zhou, Yiwen Xing, Alfie Abdul-Rahman, Rita Borgo</i></li>
	<li>LLM-Assisted Visual Analytics: Opportunities and Challenges <i>Maeve Hutchinson, Radu Jianu, Aidan Slingsby, Pranava Madhyastha</i></li>
	<li>Investigation of the organisation of the extracellular matrix using fibre tracing <i>Youssef Arafat, CRISTINA CUESTA-APAUSA, Esther Castellano, Constantino Carlos Reyes-Aldasoro</i></li>
	<li>Real-time Data-Oriented Virtual Forestry Simulation for Games <i>Benjamin Williams, Tom Oliver, Davin Ward, Chris Headleand</i></li>
	<li>The Misclassification Likelihood Matrix: Some Classes Are More Likely To Be Misclassified Than Others <i>Daniel Sikar</i></li>
</ul>

<h2>Short papers</h2>

<h3>Computer graphics</h3>
<ul>
	<li>Semantic UV mapping to improve texture inpainting for indoor scenes <i>Jelle Vermandere, Maarten Bassier, Maarten Vergauwen</i></li>
	<li>EBBVH: A Novel Method for Constructing Bounding Volume Hierarchies <i>Matthew Houghton, Kristian Spoerer</i></li>
	<li>View-Consistent Virtual Try-on of Glasses using a Hybrid NeRF-Mesh Rendering Approach <i>Arne Rak, Tristan Wirth, Thomas Lindemeier, Volker Knauthe, Arjan Kuijper</i></li>
	<li>Exploring High-Dimensional Data by Pointwise Filtering of Low-Dimensional Embeddings <i>Daniel Atzberger, Adrian Jobst, Willy Scheibel, Jürgen Döllner</i></li>
	<li>A Stereo-Integrated Novel View Synthesis Pipeline for the Enhancement of Road Surface Reconstruction Dataset <i>Mochuan Zhan, Terence Morley, Martin Turner</i></li>
	<li>Serial Gaussian Blue Noise Stippling <i>Abdalla Ahmed</i></li>
</ul>

<h3>Information Visualisation</h3>
<ul>
	<li>Visualizing Complex Data Decisions: Design Study for Ethical Factors in AI Clinical Decision Support Systems <i>Svitlana Surodina, Daria Volkova, Alfie Abdul-Rahman, Rita Borgo</i></li>
	<li>Authoring Visualisation of Routinely Collected Data Using LLMs <i>Amir Hosseini, Mai Elshehaly, Jo Wood</i></li>
	<li>Visual Storytelling: A Methodological Approach to Designing and Implementing a Visualization Poster <i>Rhiannon Owen, Jonathan Roberts</i></li>
	<li>Mapping Minority Women Bicycle Riding <i>Mirela Reljan-Delaney, Jo Wood, Alex Taylor</i></li>
	<li>Multi-fidelity Multi-disciplinary Optimisation of Propeller Design by Visual Analytics <i>Shubham Shubham, Andrea Spinelli, Timoleon Kipouros</i></li>
</ul>


<h2>Posters</h2>

<ul>
	<li>Improving Longitudinal Thematic Analysis with Notebook-based Visualisation <i>Aidan Slingsby, Mirela Reljan-Delaney, Charlotte Gallagher-Squires, Paul Coleman</i></li>
	<li>Fostering a Generative AI Design Dialogue: From Sketches to Structured Prompts to Visualisation Design <i>Aron Owen, Jonathan Roberts</i></li>
	<li>Unexpected Visualization <i>Asadullah Ibn Saifullah, Robert Spence</i></li>
	<li>On Handcrafted Machine Learning Features for Art Recognition <i>Mpho Bwanali, Hassan Ugail, Zied Mnasri, Elias Jensen</i></li>
	<li>Wildfire Risk Classification: A Computer Vision study of estimating Environmental Resilience using Remote Sensing imagery for Carbon Offset Frameworks <i>Mansi Agrawal</i></li>
	<li>Entropy-Based Graph Summarization Algorithm <i>OSMAN AKBULUT, Xin Tong, Matthew Forshaw, Nicolas Holliman</i></li>
	<li>Visualising the Impact of High-dimensional Configuration Parameters on the Performance of Data Distribution Service <i>Kaleem Peeroo, Vladimir Stankovic, Peter Popov, Tillman Weyde</i></li>
	<li>Developing 2D Animations to Facilitate Cross-Disciplinary Communication in Cancer Research <i>Caroline Walker, Staci Weiss, John Doorbar</i></li>
	<li>Visualizing Content-based Categorization of Social Media Platforms: A Study of UK Users <i>Bdour Alwuqaysi, Alfie Abdul-Rahman, Rita Borgo</i></li>
	<li>A Novel Immersive Digital Twin Architecture for Rescue Mission Automated Guided Vehicle with VR Capabilities <i>Mokhtar Salem Ba Wahal</i></li>
	<li>Data Visualization Experiences of People with Language Disability, a Qualitative Study <i>Niamh Devane, Tracey Booth, Nicola Botting, Madeline Cruice, Abi Roper, Stephanie Wilson, Jo Wood</i></li>
	<li>Exploring the Evolution of Decarbonisation Scenarios with Gridded-glyphmaps Visualisations <i>Dany Laksono, Radu Jianu, Aidan Slingsby</i></li>
	<li>From LitVis to Reasoning in Data Visualisation: A Research Plan <i>Maeve Hutchinson, Radu Jianu, Aidan Slingsby, Pranava Madhyastha</i></li>
</ul>


--->
	
<a name="detail"></a>
<a id="programme"></a>


<!--

{% if site.data[page.year].general_information.proceedings %}
<h5> {{page.year}} Conference Proceedings are now available online at <a
        href="{{site.data.CGVC2023.general_information.proceedings}}" target="_blank"> EG
        Digital Library</a>.</h5><br>
{% endif %}

-->

{% for day in site.data[page.year].programme %}
<h2>{{day.date}}</h2>


{% for session in day.items %}

{% if session.items %}

</table>

<h3>
    {% if session.start %} {{session.start}} {% endif %} {% if session.end %} - {{session.end}}{% endif %} -
    {{session.name}}
</h3>

{% if session.chair %}
<div class="float-right">
    <h5>Session Chair: {{session.chair}}</h5>
</div>
{% endif %}

<table class="mb-3 table table-striped table-bordered">
    {% for item in session.items %}
    <tr>
        {% if item.start %}
        <td class="w-17">
            {{item.start}} - {{item.end}}
        </td>
        {% endif %}
        <td>
            {% if item.award%}
            <span class="badge badge-danger">{{item.award}}</span><br>
            {% endif %}
            <span class="badge badge-{{item.type}}">{{item.type}}</span>
            {{item.name}}
            {% if item.file %} <a href="documents/{{item.type}}/{{item.file}}">View</a>{% endif %}
            {% if item.authors %}<br>
            <em class="text-muted">
                by {{item.authors}}
            </em>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}

{% if session.speaker %}
<table class="mb-3 table table-striped table-bordered">
    <tr>
        <td class="w-17">
            {{session.start}} - {{session.end}}
        </td>
        <td>
            <span class="badge badge-keynote">keynote</span>
            {{session.title}}
            <br>
            <em class="text-muted float-right">
                by {{session.speaker}}
            </em>
        </td>
    </tr>
</table>
{% else %}

<table class="mb-3 table table-striped table-bordered">
    <tr>
        <td class="w-17">
            {{session.start}}
            {% if session.end %}
            - {{session.end}}
            {% endif %}
        </td>
        <td class="text-center">
            {{session.name}}
            {% if session.title %}
            <br>
            {{session.title}}
            {% endif %}
            {% if session.authors %}
            <br>
            <em class="text-muted float-right">
                by {{session.authors}}
            </em>

            {% endif %}
        </td>
    </tr>

</table>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
